div {
        border-radius: 5px;
    }
    
#header {
        position: fixed;
        z-index: 1;
        background-color: #1abb9c;
        height: 50px;
        /*width: 400px;*/
    }
    
#footer {
        background-color: #1abb9c;
        height: 50px;
        clear: both;
    }
    
.left {
        background-color: #1abb9c;
        height: 2500px;
        width: 50px;
        float: left;
    }
    
.right {
        background-color: #1abb9c;
        height: 2500px;
        width: 50px;
        float: right;
    }