div {
        border-radius: 5px;
    }
    
#header {
    z-index: 1;
    position: fixed;
    width: 97.5%;
    margin-top: -20px;
    height: 60px;
    background-color: #668284;
    margin-bottom: 10px;
    margin-left: 5px;
}
#name {
        float: left;
        font-size: 20px;
        color: white;
        margin-top:25px;
        margin-left:5px;
    }
#mail {
        float:right;
        margin-right: 5px;
        padding-top: 10px;
        font-size: 16px;
        font-family: Verdana, sans-serif;
        color: #ffffff;
    }
    
a {
    text-decoration: none;
}

a:hover {
        font-weight: bold;
    }
    
#email {
        font-size: 16px;
        float: right;
    }
#footer {
        background-color: #1abb9c;
        height: 50px;
        clear: both;
    }
    
.left {
        background-color: #1abb9c;
        height: 2500px;
        width: 50px;
        float: left;
    }
    
.right {
        background-color: #1abb9c;
        height: 2500px;
        width: 50px;
        float: right;
    }